body{
    color: white;
    background-color: black;

}

section{
    background-color: rgb(46, 19, 194);
    padding-bottom: 80 px;
    padding-top: 80 px;
    display: flex;
    justify-content: center;
}